doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/auth/linkedin') Log in with Linkedin
    br
    a(href='/auth/logout') Logout
    
    

    block content
