doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      if user
        a(href='/auth/logout') Logout
      br
      if !user
        a(href='/auth/linkedin') Log in with Linkedin
    block content
